@font-face {
    font-family:keepcalm;
    src: url("/fonts/KeepCalm-Medium.ttf");
}
body{
    overflow-y: scroll;
    background-color: black !important;
}
.top-nav{
    position: fixed !important;
    width:100%;
}
.left-nav{
    position: fixed !important;
}
.right-nav{
    position: fixed !important;
}
.footer{
    position: fixed !important;
}
.contactus-box{
    width:100%;
    height: 60vh;
    /* display:flex; */
    justify-content:space-evenly;
    flex-direction: column;
    align-items: center;
    padding-right:5%;
    padding-left:5%;
    /* background-color: aqua; */
}
.contactus-header{
    height: 30vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    position: relative;
    /* margin-top: 5%; */
}
.contactus-header h3{
    font-size: 9.5rem;
    height: 12vh;
    font-family: 'keepcalm';
    color: #707070;
    opacity: 0.4;
    margin: 0;
    z-index: 0;
}
.contactus-header h4{
    font-size: 3.2rem;
    font-family: 'keepcalm';
    color: white;
    margin: 0;
    position: absolute;
    z-index: 1;
}

.detail-box{
    display: flex;
    justify-content: center;
    align-items: center;
    /* height: 100%; */
    /* background-color: azure; */
} 
.address-box{
    padding: 1%;
    /* background-color: aquamarine; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    width:30%;
    height: 100%;
    color: white !important;
    text-align: center;
}
.address-image{
    width:100%;
    height: 150px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.address-image img{
    object-fit: contain;
    height: 60%;
    /* width:60%; */
    /* opacity: 0.6; */
    
}
.address-box h3{
 font-family: 'gilroylight' !important;
 font-size: 2.75rem;
 margin-top:0 !important;
 
}
.address-box h5{
    height:10vh;
    font-family: 'gilroylight' !important;
    font-size: 1.5rem;
    opacity:0.45;
    line-height: 2.6rem;
    margin-top:0 !important;
}
.address-content{
    width:100%;
}

.contactus_line{
    width: 100%;
    padding:3%;
    height: 10vh;
}
.contact-number{
    display: flex;
}
.connect-box{
    height:100%;
    width:40%;
    display:flex;
    flex-direction: column;
}
.box{
    width:100%;
    padding: 10vh;
}
form{
    /* text-align: center !important; */
    align-self: center;
    width:60%;
}
.form-box{
    align-self: center;
    display: flex;
    flex-direction: column;
}
.form-box input, textarea{
    border-radius: 0.5rem;
    /* margin-top:2vh; */
    margin-bottom: 2vh;
    border-color: #707070;
    color: white;
    background-color:#0D0D0D;
}
.form-middle{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.form-header{
    height: 15vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    position: relative;
    /* margin-top: 5%; */
}
.form-header h4{
    font-size: 3.2rem;
    font-family: 'keepcalm';
    color: white;
    margin: 0;
    position: absolute;
    z-index: 1;
}
input[type='text']{
    font-family: 'gilroylight' !important;
    padding:2%;
    width:49%;
}
.form-box textarea{
    background-color: #0d0d0d;
    font-family: 'gilroylight' !important;
}
.btn{
    background-color: honeydew;
    font-family: 'keepcalm';
    width:100%;
}
button{
    width:100% !important;
    background-color: #37C2D8;
    border-radius: 1rem;
    border: black !important;
    font-family: 'keepcalm' !important;
}

.detail-footer{
    width:100%;
    /* align-self:; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* z-index: 2; */
    /* position:absolute; */
    color:white;
    /* background-color: red; */
}
.detail-footer h3{
    font-family: 'gilroysemibold' !important;
 font-size: 2.75rem;
}
.detail-footer div{
     font-family: 'gilroylight' !important;
    font-size: 1.5rem;
    opacity:0.65;
    line-height: 2.6rem;
}
.connect{
    background: transparent;
}

@media (max-width:720px){

    .contactus-header{
        /* height: 25vh; */
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        margin-top: 30%;
    }
    .contactus-header h3{
        font-size: 5.5rem;
        height: 9vh;
        font-family: 'keepcalm';
        color: #707070;
        opacity: 0.4;
        margin: 0;
        z-index: 0;
    }
    .contactus-header h4{
        font-size: 2.2rem;
        font-family: 'keepcalm';
        color: white;
        margin: 0;
        position: absolute;
        z-index: 1;
    }
    .contactus-box{
        width:100%;
        height: 90vh;
        display:flex;
        flex-direction: column;
        justify-content:space-between;
        align-items: center;
        /* padding-right:5%;
        padding-left:5%; */
        padding-top: 0 !important;
        /* padding-bottom:15%; */
        overflow-y: scroll;
    }
    .address-box{
        display: flex;
        flex-direction: column;
        justify-content: center;
        /* align-items: center; */
        width:100%;
        height: auto;
        color: white !important;
        text-align: center;
    }
    .detail-box{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    } 
    /* .detail-footer{
      padding-top: 10%;
      padding-bottom: 8%;

    } */
    .detail-footer h3{
        font-size: 2.2rem;
    }
    .box{
        width:100%;
        padding-top: 5vh !important;
    }
    form{
        /* text-align: center !important; */
        align-self: center;
        width:90%;
    }
    .form-box{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .form-box input, textarea{
        border-radius: 0.5rem;
        /* margin-top:2vh; */
        margin-bottom: 2vh;
        border-color: #707070;
        color: white;
        background-color:#0D0D0D;
    }
    .form-middle{
        display: flex;
        flex-direction: column;
    }
    .form-header{
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        margin-top: 10vh;
    }
    .form-header h4{
        font-size: 3.2rem;
        font-family: 'keepcalm';
        color: white;
        margin: 0;
        position: absolute;
        z-index: 1;
    }
    input[type='text']{
        font-family: 'gilroylight' !important;
        /* padding:2%; */
        width:100%;
    }
    .form-box textarea{
        background-color: #0d0d0d;
        font-family: 'gilroylight' !important;
    }
    .btn{
        background-color: honeydew;
        font-family: 'keepcalm';
        width:100%;
    }
    button{
        width:100% !important;
        background-color: #37C2D8;
        border-radius: 1rem;
        font-family: 'keepcalm' !important;
        
    }
}

@media only screen and (orientation:landscape)
and (min-device-width: 319px) 
and (max-device-width: 1024px){
    .contactus-box{
        /* display:flex; */
        /* flex-direction: column; */
        height: 90%;
        width:auto;
        overflow-y: scroll;
        padding-top: 0% !important;
        /* padding-bottom: 10%; */
    }
    /* .detail-box{
        padding-top: 12%;
    } */
    .contactus-header{
        height: 20vh !important;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        align-items: center;
        position: relative;
        margin-top: 10% !important;
    }
    .contactus-header h3{
        font-size: 5.5rem;
        height: 16vh;
        font-family: 'keepcalm';
        color: #707070;
        opacity: 0.4;
        margin: 0;
        z-index: 0;
    }
    .contactus-header h4{
        font-size: 2.2rem;
        font-family: 'keepcalm';
        color: white;
        margin: 0;
        position: absolute;
        z-index: 1;
    }
    form{
        /* text-align: center !important; */
        align-self: center;
        width:90%;
    }
    .form-box{
        align-self: center;
        display: flex;
        flex-direction: row;
        justify-content: center;
    }
    .form-box input, textarea{
        border-radius: 0.5rem;
        /* margin-top:2vh; */
        margin-bottom: 2vh;
        border-color: #707070;
        color: white;
        background-color:#0D0D0D;
    }
    .form-middle{
        display: flex;
        flex-direction: column;
    }
    .form-header{
        height: 15vh;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        position: relative;
        /* margin-top: 5%; */
    }
    .form-header h4{
        font-size: 3.2rem;
        font-family: 'keepcalm';
        color: white;
        margin: 0;
        position: absolute;
        z-index: 1;
    }
    input[type='text']{
        font-family: 'gilroylight' !important;
        /* padding:2%; */
        width:100%;
    }
    .form-box textarea{
        background-color: #0d0d0d;
        font-family: 'gilroylight' !important;
    }
    .btn{
        background-color: honeydew;
        font-family: 'keepcalm';
        width:100%;
    }
    button{
        width:100% !important;
        background-color: #37C2D8;
        border-radius: 1rem;
        font-family: 'keepcalm' !important;
        
    }
}